services:

  catalog-db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_DB: 'catalog-db'
      POSTGRES_USER: 'develop'
      POSTGRES_PASSWORD: 'develop'
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - ./dabatase/catalog-db:/var/lib/postgresql/data
    ports:
      - 5433:5432

  events-db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_DB: 'events-db'
      POSTGRES_USER: 'develop'
      POSTGRES_PASSWORD: 'develop'
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - ./dabatase/events-db:/var/lib/postgresql/data
    ports:
      - 5437:5432

  page-profiles-db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_DB: 'page-profiles-db'
      POSTGRES_USER: 'develop'
      POSTGRES_PASSWORD: 'develop'
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - ./dabatase/page-profiles-db:/var/lib/postgresql/data
    ports:
      - 5436:5432

  posts-db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_DB: 'posts-db'
      POSTGRES_USER: 'develop'
      POSTGRES_PASSWORD: 'develop'
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - ./dabatase/posts-db:/var/lib/postgresql/data
    ports:
      - 5435:5432

  users-db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_DB: 'users-db'
      POSTGRES_USER: 'develop'
      POSTGRES_PASSWORD: 'develop'
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - ./dabatase/users-db:/var/lib/postgresql/data
    ports:
      - 5432:5432

  notifications-db:
    image: postgres:15.3
    restart: always
    environment:
      POSTGRES_DB: 'notifications-db'
      POSTGRES_USER: 'develop'
      POSTGRES_PASSWORD: 'develop'
      POSTGRES_HOST_AUTH_METHOD: md5
    volumes:
      - ./dabatase/notifications-db:/var/lib/postgresql/data
    ports:
      - 5438:5432
