spring:
  application:
    name: gateway

server:
  port: 4040

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://registry-server:8761/eureka/
    fetch-registry: true
